<%- include('includes/head.ejs') %>
  <main>

    <div class="card" style="width: 60%;">
      <div class="card-header">
        <h2>나의 정보</h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">아이디 : <%= data.loginId %>
        </li>
        <li class="list-group-item">이름 : <%= data.memberName %>
        </li>
        </li>
        <li class="list-group-item">
          <% try { %> <% if (data.level === 0) { %>
          등급 : 고객
          <% } else if (data.level === 1) { %>
          등급 : 관리자 <button><a href="/admin">관리자 페이지로 이동</a></button>
          <% } %> <% } catch { %>
          등급 : 관리자
          <% } %>
        </li>
      </ul>
    </div>
  </main>
  </body>

  </html>