.registerGroup {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  margin-top: 150px;
  padding: 15px;

  border: 1px solid lavender;
  border-radius: 20px;
  box-shadow: 5px 5px 5px lightgray;

  margin-top: 20px;
}

.loginGroup {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  margin-top: 150px;
  padding: 15px;

  border: 1px solid lavender;
  border-radius: 20px;
  box-shadow: 5px 5px 5px lightgray;

  margin-top: 20px;
}

.adminGroup {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  margin-top: 150px;
  padding: 15px;

  border: 1px solid lavender;
  border-radius: 20px;
  box-shadow: 5px 5px 5px lightgray;

  margin-top: 20px;
}
