.darkButton {
    border-radius: 5px;
    color: white;
    background-color: #1c1f23;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

/*body, ul, li {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

.cell {
    box-sizing: border-box;
    margin: 20px;
    width: 250px;
    text-align: center;
    display: inline-block;
}
.list {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/*.row {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*}*/

/*.row::after {*/
/*    content: "";*/
/*    display: block;*/
/*    clear: both;*/
/*}*/

.img-box > img {
    display: block;
    width: 100%;
}

/*.list > ul {*/
/*    margin: 0 -10px;*/
/*    list-style:none;*/
/*     display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*}*/

.product-name {
    text-align: Center;
    font-weight: bold;
}
/*div:hover > .product-name {*/
/*    text-decoration: underline;*/
/*}*/
.product-price {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
.product-price::after {
    content: "원";
    font-size: 1rem;
    font-weight:normal;
}

.nameButton:link { color:#1c1f23; text-decoration: none;}
.nameButton:hover { color:#cc0000; text-decoration: none;}
.nameButton:visited { color:gray; text-decoration: none;}

.orderBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.rowGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.darkButton {
  border-radius: 5px;
  color: white;
  background-color: #1c1f23;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10%;
  margin-top: 20px;
}

